@media screen and (max-width:1199px) {
  #world {
    display: none;
  }
}

#banner {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 85vh;
}

.slogan {
  font-size: 1.5rem;
  backdrop-filter: blur(5px);
  text-align: left;
  margin-top: 10px;
}

.slo-arr {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.svg {
  margin-right: 5px;
  font-size: 16px;
  position: relative;
  bottom: 2px;
}

.banner-btn {
  background-color: #550092;
  color: white;
}

#banner {
  margin-top: 30px;
}

#home-title, .slogan, .arrows {
  animation-duration: 1s;
  animation-name: slideleft;
  animation-timing-function: cubic-bezier(.26,.53,.74,1.48);
  animation-fill-mode: backwards;
}

#home-title {
  animation-delay: 0.5s;
}

.slogan {
  animation-delay: 1.25s;
}

.arrows {
  animation-delay: 2s;
}

#home-logo {
  animation-duration: 1s;
  animation-delay: 0.75s;
  animation-name: slideright;
  animation-timing-function: cubic-bezier(.26,.53,.74,1.48);
  animation-fill-mode: backwards;
}

.m_scroll_arrows {
  display: block;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-right: 2px solid #550092;
  border-bottom: 2px solid #550092;
  margin: 0 0 3px 4px;
  width: 30px;
  height: 30px;
}

.one {
  margin-top: 1px;
  animation: mouse-scroll 1s infinite;
  animation-delay: .1s;
  animation-direction: alternate;
}

.two {
  margin-top: -6px;
  animation: mouse-scroll 1s infinite;
  animation-delay: .2s;
  animation-direction: alternate;
}

.three {
  margin-top: -6px;
  animation: mouse-scroll 1s infinite;
  animation-delay: .3s;
  animation-direction: alternate;
}

@keyframes mouse-scroll {
  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}

@keyframes slideleft {
  0% {
    opacity: 0;
    transform: translate(-50%, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes slideright {
  0% {
    opacity: 0;
    transform: translate(150%, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
