@media screen and (min-width:1200px) {
  .contact-banner {
    font-size: 60px;
    margin-top: 30px;
  }
  .links {
    width: 60%;
  }
  .col {
    flex: 33.33%;
  }
  .icon {
    font-size: 10vh;
    margin: 15px;
  }
}

@media screen and (max-width: 1199px) {
  .contact-banner {
    font-size: 60px;
    margin-top: 80px;
  }
  .links {
    padding: 20px 40px;
  }
  .col {
    flex: 33.33%;
  }
  .icon {
    font-size: 9vh;
    margin: 15px;
    color: #550092;
  }
}

@media screen and (min-width:992px) {
  #link-1 {
    animation-name: top-left;
  }
  #link-2 {
    animation-name: top;
  }
  #link-3 {
    animation-name: top-right;
  }
  #link-4 {
    animation-name: bottom-left;
  }
  #link-5 {
    animation-name: bottom;
  }
  #link-6 {
    animation-name: bottom-right;
  }
}

@media screen and (max-width: 991px) {
  .contact-banner {
    font-size: 50px;
    margin-top: 70px;
  }
  .col {
    flex: 50%;
  }
  #link-1 {
    animation-name: top-left;
  }
  #link-2 {
    animation-name: top-right;
  }
  #link-3 {
    animation-name: left;
  }
  #link-4 {
    animation-name: right;
  }
  #link-5 {
    animation-name: bottom-left;
  }
  #link-6 {
    animation-name: bottom-right;
  }
}

@media screen and (max-width: 440px) {
  .contact-banner {
    font-size: 32px;
    margin-top: 110px;
  }
  .links {
    padding: 20px 35px;
  }
  .col {
    flex: 50%;
  }
  .icon {
    font-size: 7vh;
    margin: 15px;
  }
  .links h4 {
    text-align: center;
    font-size: 15px;
  }
}

.contact-bg {
  background: linear-gradient(to top,rgba(227, 185, 236, 0.9) 0,rgba(246, 221, 255, 0.9) 40%,#F9F1FF 100%);
  min-height: 100vh;
}

.contact-banner {
  display: flex;
  justify-content: center;
  position: relative;
  height: 1em;
  font-weight: 800;
  transition: all 0.5s;
  color: transparent;
  letter-spacing: -0.02em;
  line-height: 1.03em;
  text-transform: uppercase;
}

.contact-banner > h1 {
  position: absolute;
  color: #550092;
  pointer-events: none;
}

.line-1 {
  position: relative;
  top: 50%;
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid rgba(255,255,255,.75);
  text-align: center;
  white-space: nowrap;
  font-size: 80%;
  overflow: hidden;
  transform: translateY(-50%);
}

.row {
  display: flex;
  padding-bottom: 3rem;
}

.icon {
  color: #550092;
  transition: all .3s ease-in-out;
}

.icon:hover {
  transform: scale(1.2);
}

.anim-typewriter{
  animation: typewriter 1.25s steps(17) 1s 1 normal both,
             blinkTextCursor 1s steps(17) infinite normal;
}

@keyframes typewriter{
  from{width: 0;}
  to{width: 10em;}
}

@keyframes blinkTextCursor{
  from{border-right-color: #550092;}
  to{border-right-color: transparent;}
}

.links {
  background-color: transparent;
  backdrop-filter: blur(10px);
  color: #550092;
  border-radius: 20px;
  padding: 60px 20px;
  margin: 70px 0;
  width: 70%;
  box-shadow: 2px 2px 4px 3px rgba(85, 0, 146, 0.2);
}

.links h4 {
  text-align: center;
}

.links, #link-1, #link-2, #link-3, #link-4, #link-5, #link-6 {
  animation-duration: 1.25s;
  animation-delay: 3s;
  animation-fill-mode: backwards;
}

.links {
  animation-name: fade;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes top-left {
  0% {
    opacity: 0;
    transform: translate(-100%, -100%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes top {
  0% {
    opacity: 0;
    transform: translate(0, -100%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes top-right {
  0% {
    opacity: 0;
    transform: translate(100%, -100%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes bottom-left {
  0% {
    opacity: 0;
    transform: translate(-100%, 100%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes bottom {
  0% {
    opacity: 0;
    transform: translate(0, 100%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes bottom-right {
  0% {
    opacity: 0;
    transform: translate(100%, 100%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes left {
  0% {
    opacity: 0;
    transform: translate(-100%, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes right {
  0% {
    opacity: 0;
    transform: translate(100%, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
