.icon {
  font-size: 10vh;
  margin: 20px;
  color: #550092;
}

.icon:hover {
  transition: all .3s ease-in-out;
  transform: scale(1.2);
}

.links {
  background-color: transparent;
  backdrop-filter: blur(10px);
  color: #550092;
  border-radius: 30px;
  padding: 60px 20px;
  margin: 60px 0;
  width: 70%;
  box-shadow: 2px 2px 4px 3px rgba(85, 0, 146, 0.2);
}

.links h4 {
  text-align: center;
}

.contact-nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}

.contact-nav ul li {
  list-style: none;
  display: inline-block;
  padding: 0.5rem 0;
  margin: 0 10px;
}

.contact-nav ul li a {
  text-decoration: none;
  color: #550092;
  font-size: 20px;
}

.contact-nav ul li a:hover {
  transition: all .3s ease-in-out;
  transform: scale(1.1);
  letter-spacing: 8px;
}

.contact-banner {
  width: 100%;
  display: flex;
  justify-content: center;
}

.contact-banner h1:hover {
  -webkit-text-stroke: 2px black;
  color: transparent;
}

.row {
  display: flex;
  padding-bottom: 3rem;
}

@media screen and (min-width:1200px) {
  .contact-banner h1 {
    padding-top: 125px;
    font-size: 4.5rem;
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 800;
    transition: 0.5s;
    color: rgb(53, 53, 53);
  }
  .links {
    width: 60%;
  }
  .col {
    flex: 33.33%;
  }
}

@media screen and (max-width: 1199px) {
  .contact-banner h1 {
    padding-top: 35%;
    font-size: 4rem;
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 800;
    transition: 0.5s;
  }
  .links {
    padding: 20px 40px;
  }
  .col {
    flex: 33.33%;
  }
  .icon {
    font-size: 6vh;
    margin: 15px;
    color: #550092;
  }
}
@media screen and (max-width: 991px) {
  .contact-banner h1 {
    padding-top: 135px;
    font-size: 70px;
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 800;
    transition: 0.5s;
  }
  .col {
    flex: 50%;
  }
}

@media screen and (max-width: 440px) {
  .contact-banner h1 {
    padding-top: 130px;
    font-size: 40px;
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 800;
    transition: 0.5s;
  }
  .links {
    padding: 20px 35px;
  }
  .col {
    flex: 50%;
  }
  .icon {
    font-size: 5vh;
    margin: 15px;
    color: #550092;
  }
  .links h4 {
    text-align: center;
    font-size: 15px;
  }
}
