.home-info {
  padding-bottom: inherit;
  position: relative;
}

.home-info-text {
  margin-top: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-info-text p {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.7);
  padding: 62px;
  margin-bottom: 40px;
  text-align: center;
}

.home-info h3 {
  font-size: 55px;
  color: rgba(0, 0, 0, 0.85);
  text-align: center;
  width: 100%;
}

.home-info h4 {
  font-size: 30px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.85);
  text-align: center;
  margin-bottom: -8px;
}

.info-1, .info-2, .info-3 {
  height: 100px;
  line-height: 1;
  width: 33.33%;
}

.custom-shape-divider-top-1679023573 {
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1679023573 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.shape-fill-1 {
  fill: #E3B9ECE6;
}

.b-piechart a {
  color: #550092;
}

.b-piechart h3 {
  position: absolute;
  font-size: 45px;
}

.b-piechart h5 {
  text-align: center;
  margin-top: 20px;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

.piechart {
  display: flex;
  flex-direction: column;
}

.b-piechart h5 {
  font-size: 24px;
  background-color: #E5BEEE;
  padding: 50px;
  border-radius: 25px;
  width: 30%;
}

.bubbles {
  display: flex;
  justify-content: space-evenly;
}

@media screen and (min-width:1200px) {
  .b-piechart {
    min-height: 65vh;
    margin-top: 175px;
  }
  .b-piechart h3 {
    top: 10%;
  }
  .piechart img {
    width: 50%;
    margin: auto;
  }
  .home-info img {
    margin-top: 100px;
  }
  .home-info h3 {
    margin-top: 50px;
  }
}

@media screen and (max-width:1199px) {
  .b-piechart {
    margin: 140px 65px 0 65px;
  }
  .b-piechart h3 {
    top: 5%;
    left: 10%;
    width: auto;
  }
  .b-piechart h5 {
    font-size: 20px;
    width: 38%;
  }
  .home-info h3 {
    margin: 100px 0;
  }
  .piechart img {
    width: 75%;
    margin: auto;
  }
  .home-info h3 {
    font-size: 35px;
  }
}

@media screen and (max-width:991px) {
  .b-piechart h5 {
    font-size: 16px;
    padding: 47px;
  }
  .home-info h3 {
    font-size: 30px;
  }
  .home-info h4 {
    font-size: 25px;
  }
  .home-info-text p {
    font-size: 16px;
    padding: 45px 62px;
    margin-bottom: 20px;
  }
  .b-piechart h3 {
    top: 5%;
    right: 10%;
    width: auto;
  }
  .bubbles {
    margin-top: 30px;
  }
}

@media screen and (max-width:440px) {
  .custom-shape-divider-top-1679023573 svg {
    height: 50px;
  }
  .home-info h3 {
    margin-top: 35px;
    font-size: 20px;
    margin-bottom: 60px;
  }
  .home-info h4 {
    font-size: 20px;
  }
  .home-info-text p {
    padding: 40px 10px;
  }
  .b-piechart {
    flex-direction: column;
    margin: 100px 0 0;
  }
  .b-piechart h5 {
    width: 80%;
    padding: 35px;
    margin-bottom: 30px;
  }
  .piechart img {
    width: 90%;
  }
  .bubbles {
    flex-direction: column;
    align-items: center;
  }
  .after-info h3 {
    font-size: 31px;
    margin-bottom: 30px;
  }
}
