#home-info {
  min-height: 80vh;
  padding-bottom: inherit;
  position: relative;
}

.home-info-text {
  margin-top: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-info-text p {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.7);
  padding: 62px;
  margin-bottom: 70px;
  text-align: center;
}

#home-info h3 {
  font-size: 55px;
  color: rgba(0, 0, 0, 0.85);
  text-align: center;
  position: absolute;
  left: auto;
  right: auto;
  width: 100%;
}

#home-info h4 {
  font-size: 30px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.85);
  text-align: center;
  margin-bottom: -8px;
}

.info-1, .info-2, .info-3 {
  height: 100px;
  line-height: 1;
  width: 33.33%;
}

.custom-shape-divider-top-1679023573 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1679023573 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.shape-fill-1 {
  fill: #E3B9ECE6;
}

.piechart {
  height: 65vh;
  margin: 0 135px;
}

.piechart a {
  color: #550092;
}

.piechart h2 {
  padding-right: 175px;
}

a {
  text-decoration: none;
  color: black;
}

.flex-50 {
  flex-basis: 50%;
  width: 50%;
  height: fit-content;
}
