.nav {
  transition: all .3s ease-in-out;
}

.nav:hover {
  transform: scale(1.1);
  letter-spacing: 7px;
  color: #550092;
}

.navbar a {
  font-size: 20px;
  color: #550092;
}

@media screen and (max-width:440px) {
  #reg-nav {
    display: none;
  }
}
