/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

html,body{
  overflow-x: hidden;
  background-color: rgb(255, 254, 251);
}

@media screen and (min-width:1200px) {
  #filter-bar {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
  }
}

/* @media screen and (max-width:1200px) {
  #city-bar {
    margin-top: 0!important;
  }
  #charities {
    margin: 10px;
  }
  #banner {
    min-height: 85vh;
  }
} */
@media screen and (max-width:991px) {
  body {
    font-size: 14px;
  }
  #world {
    display: none;
  }
  .col-lg-6 h1 {
    margin-top: 60px;
  }
  #filter-bar {
    display: block;
  }
  #banner {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  #charities .card-body {
    padding: 30px!important;
  }
  /* #city-bar {
    margin-top: 0!important;
  } */
  #charities {
    margin: 10px;
  }
  #banner {
    min-height: 85vh;
  }
}

@media screen and (max-width:440px) {
  .pagination {
    margin-top: 10px!important;
  }
}

.text-red {
  color: #BD1E2C;
  font-weight: bold;
}

.red-bg {
  background-color: #BD1E2C;
  color: white;
  font-size: 18px;
}

.col-2 {
  flex: 0 0 auto;
  width: auto;
}

.muli {
  font-family: Muli;
}

.pagination {
  margin-top: 54px;
  justify-content: center;
  align-items: center;
  --bs-pagination-color: #BD1E2C;
  --bs-pagination-hover-color: #BD1E2C;
  --bs-pagination-focus-color: #BD1E2C;
  --bs-pagination-active-bg: #BD1E2C;
  --bs-pagination-active-border-color: #BD1E2C;
  --bs-pagination-hover-border-color: #b1b1b1;
  --bs-pagination-focus-bg: #b1b1b1;
}

.centered {
  display: flex;
  align-items: center;
}

.slogan {
  font-size: 1.5rem;
}

.svg {
  margin-right: 5px;
  font-size: 16px;
  position: relative;
  bottom: 2px;
}

.banner-btn:hover {
  box-shadow: 4px 4px 4px 3px rgba(0, 0, 0, 0.3);
  background-color: #BD1E2C;
  color: white;
  transition: 0.2s ease-in;
}

.reset-btn {
  color:#BD1E2C;
  width:120px;
  font-weight: bold;
  font-style: italic;

}

.reset-btn:hover {
  box-shadow: 4px 4px 4px 3px rgba(0, 0, 0, 0.3);
  background-color: white;
  color: #BD1E2C;
  transition: 0.2s ease-in;
}

#filter-bar {
  scroll-margin: 70px;
}

#charities {
  scroll-margin: 70px;
}
